body {
    background-color: #F2FFEA;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: "Libre Bodoni", serif;

    color: #162D06;
}

::-webkit-scrollbar {
    background-color: #d5eac7;

    border-radius: 0px 99px 10px 0px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #162D06;

    border-radius: 99px;
}

body::before, body::after {
    content: '';
    display: table;
    clear: both;
}

main {
    height: 100%;

    .error-section {

        margin-top: 200px;

        margin-left: 10%;
        margin-right: 10%;

        .error-message {
            h1 {
                font-size: 35px;
            }
            p {
                font-size: 20px;
            }
        }

    }

    .re-links {

        margin-top: 100px;

        display: flex;
        justify-content: center;

        li {
            list-style: none;
            width: 100%;

            display: flex;
            flex-direction: row;
            gap: 25px;
            flex-wrap: wrap;

            a {
                padding: 7px;
                padding-right: 10px; 
                padding-left: 10px;
                background-color: #F39994;
                border-radius: 25px;

                color: #162D06;
                text-decoration: none;
                font-weight: bold;

                font-size: 14px;
                font-family: "Libre Bodoni", serif;

                &:hover {
                    transform: scale(1.2);
                    transition: 0.25s;

                    background-color: #a5eb77;

                    background-image: linear-gradient(to bottom, rgba(75, 106, 55, 0.65), rgba(75, 106, 55, 0.65)),url(/MEDIA/background/backgroundleafes.png);
                    background-size: 200%;

                    color: white;
                }
            }
        }
    }
}