footer {
    background-color: #F39994;
    bottom: 0px;
    margin-bottom: -50px;
    margin-left: -8px;
    height: 500px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: #162D06;

    .footer-logo {
        margin-top: 75px;
        width: 375px;
        height: 272px;
        margin-left: 7%;

        img {
            width: 375px;
            height: 272px;
            object-fit: contain;
        }
    }

    .footer-content {
        margin-top: 75px;
        display: flex;
        flex-direction: row;
        margin-right: 14%;
        margin-bottom: 100px;

        .footer-blogs {
            margin-right: 100px;
            width: 100%;

            h2 {
                font-size: 35px;
            }

            a {
                text-decoration: none;
                color: #162D06;

                h3 {
                    font-size: 22px;
                }
            }
        }

        .footer-info {
            width: 100%;

            h2 {
                font-size: 35px;
            }

            a {
                text-decoration: none;
                color: #162D06;

                h3 {
                    font-size: 22px;
                }
            }
        }
    }
}