footer {
    position: relative;
    bottom: 0;
    margin-bottom: -10px;
    left: 0;
    width: 100%;
    background-color: #F39994;
    color: #162D06;
    z-index: 10;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: #162D06;

    z-index: 10;

    .footer-logo {
        margin-top: 0px;
        width: 375px;
        height: 272px;
        margin-left: 7%;

        img {
            width: 375px;
            height: 272px;
            object-fit: contain;
        }
    }

    .footer-content {
        margin-top: 45px;
        display: flex;
        flex-direction: row;
        margin-right: 7%;
        margin-bottom: 100px;

        .footer-blogs {
            width: 300px;

            h2 {
                font-size: 27px;
            }

            a {
                text-decoration: none;
                color: #162D06;

                h3 {
                    font-size: 19px;
                    font-weight: 400;
                }

                &:hover {
                    font-weight: bolder;

                    h3 {
                        font-weight: 900;
                        transition: 0.25s;
                    }
                }
            }
        }

        .footer-info {
            width: 300px;
            margin-right: 0px;

            h2 {
                font-size: 27px;
            }

            a {
                text-decoration: none;
                color: #162D06;

                h3 {
                    font-size: 19px;
                    font-weight: 400;
                }

                &:hover {
                    font-weight: bolder;

                    h3 {
                        font-weight: 900;
                        transition: 0.25s;
                    }
                }
            }
        }
    }
}