body {
    background-color: #F2FFEA;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    color: #162D06;
}

body::before, body::after {
    content: '';
    display: table;
    clear: both;
}

.welcome-logo {

    background-color: #E4F4D9;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .welcome-background {

        width: 101%;
        position: absolute;
        right: -8px;
        left: -8px;

        .next-left {
            position: absolute;
            background-color: white;
            height: 50px;
            width: 50px;
            border-radius: 99px;
            top: 50%;
            z-index: 99;
            left: 10%;

            color: #162D06;
            border: solid #162D06 2px;

            cursor: pointer;
        }

        .next-right {
            position: absolute;
            background-color: white;
            height: 50px;
            width: 50px;
            border-radius: 99px;
            top: 50%;
            z-index: 99;
            right: 10%;

            color: #162D06;
            border: solid #162D06 2px;

            cursor: pointer;
        }

        .progress-bar {
            position: absolute;
            z-index: 99px;
            top: 90%;
            width: 125px;
            background-color: white;
            height: 25px;
            left: 45%;
            border-radius: 99px;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .dot {
            display: flex;
            flex-direction: row;

            height: 10px;
            width: 10px;
            background-color: #162D06;
            border-radius: 50%;
            margin: 0 5px;
            opacity: 0.5;
            transition: opacity 0.3s ease;

        }
        

        .homepage-slideshow {

            transition: opacity 0.3s ease;

            position: relative;
            height: 100vh;
            min-width: 100%;

            .background-photo {

                transition: opacity 0.3s ease;


                position: relative;
                height: 100vh;
                min-width: 100%;
    
                img {

                    transition: opacity 0.3s ease;

                    min-width: 100%;
                    height: 100vh;
                    object-fit: cover;
                }
            }
    
            .framed-logo {

                transition: opacity 0.3s ease;

                top: 25%;
                left: 25%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                z-index: 99;
        
                background-color: #F2FFEA;
                border-radius: 25px;
        
                .logo-inside-frame {
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 850px;
                    height: 500px;
                    border-radius: 10px;
            
                    img {
                        width: 350px;
                        height: 250px;
                        object-fit: contain;
                    }
        
                    h2 {
                        font-size: 27px;
                        margin-bottom: -5px;
                    }
        
                    h1 {
                        margin-top: -5px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        font-size: 35px;
                        color: #F39994;
        
                        text-shadow:
                        -1px -1px 0 #162D06,
                        1px -1px 0 #162D06,
                        -1px 1px 0 #162D06,
                        1px 1px 0 #162D06;
        
                        img {
                            width: 145px;
                            height: 60px;
                        }
                    }
                }
            }   
        }
    }
}

.main-content {

    z-index: 2;
    box-shadow: 10px 1px 50px 5px rgba(2, 101, 19, 0.154);

    background-color: #F2FFEA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .un-scroll-content {

        overflow-x: hidden;
        overflow-y: hidden;
    
        height: 100vh;
        position: sticky;
        display: flex;
        flex-direction: column;
        top: 0;
        right: 0;
        left: 100%;
        min-width: 300px;
        margin-right: 0px;
        background-color: #d5eac7;
    
        .right-s-content {
    
            height: 100vh;
            position: sticky;
            display: flex;
            flex-direction: column;
            top: 0;
    
            .right-s-background {
                background-image: linear-gradient(to bottom, rgba(228, 244, 217, 0.65), rgba(228, 244, 217, 0.65)),url(/MEDIA/background/backgroundleafes.png);
                background-size: 40%;
                padding-bottom: 70px;
                width: 300px;
                height: 100%;
    
                .right-s-box {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 0px;
    
                    .right-s-text {
                        margin-top: 125px;
                        background-color: #F2FFEA;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border-radius: 10px;
                        width: 250px;

                        h2 {
                            font-size: 25px;
                            color: #162D06;

                        }

                        img {
                            width: 129px;
                            height: 163px;
                            object-fit: contain;
                            background-color: white;
                            border-radius: 99px;
                        }
    
                        p {
                            margin-bottom: 0px;
                            margin-top: 10px;
                            margin-left: 10px;
                            margin-right: 10px;
                            font-size: 14px;
                        }
    
                        .right-s-info {
                            width: 100%;
                            padding-bottom: 25px;
                            margin-top: 25px;
    
                            span {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }

    .scroll-content {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;
        margin-left: 7%;
        margin-right: 3.5%;
        margin-bottom: 150px;

        .newly-posted-container {

            color: #162D06;
            margin-top: 75px;

            h2 {
                font-size: 55px;
                text-align: center;

                span {
                    color: #F39994;
                    text-shadow:
                    -1px -1px 0 #162D06,
                    1px -1px 0 #162D06,
                    -1px 1px 0 #162D06,
                    1px 1px 0 #162D06;
                }
            }

            .newly-posted-carousel {
                width: 1200px;
                overflow-x: scroll;
                margin-top: -50px;

                .newly-posted {

                    width: 100%;
                    height: 700px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 25px;
    
                    .new-post {

                        background-color: #f6fef2;
                        box-shadow: 5px 10px 10px 2px rgba(2, 101, 19, 0.154);

                        border-radius: 10px;
                        height: 600px;
                        width: 315px;

                        .blog-link {
                            text-decoration: none;
                            color: #162D06;
                        }

                        .post-textbox {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                            text-align: center;

                            margin-top: 10px;
                            height: 170px;
                            margin-left: 5px;
                            margin-right: 5px;
                        }
        
                        img {
                            width: 315px;
                            height: 420px;
                            object-fit: cover;
                            border-radius: 10px 10px 0px 0px;
                        }
    
                        h2 {
                            font-size: 20px;
                        }

                        .published {
                            opacity: 65%;
                        }
                    }

                    .new-post:hover {
                        background-color: white;
                        transition: 0.45s;

                        .post-textbox {
                            margin-top: 5px;
                            height: 150px;
                        }
        
                        img {
                            height: 475px;
                            transition: 0.35s;
                        }
    
                        h2 {
                            font-size: 22px;
                        }

                        .published {
                            display: none;
                        }
                    }
                }
            }
        }

        .all-posts-container {

            color: #162D06;
            margin-top: 130px;

            width: 1200px;

            h2 {
                font-size: 55px;
                text-align: center;
                
                span {
                    color: #F39994;
                    text-shadow:
                    -1px -1px 0 #162D06,
                    1px -1px 0 #162D06,
                    -1px 1px 0 #162D06,
                    1px 1px 0 #162D06;
                }
            }

            .searchbar {

                display: flex;
                justify-content: center;
                align-items: center;

                margin-top: 25px;
                margin-bottom: 50px;
    
                input {
                    border-radius: 25px;
                    width: 250px;
                    height: 25px;
                    border: hidden;
                    background-color: white;
                    box-shadow: 5px 1px 15px 5px rgba(2, 101, 19, 0.154);
                }
            }

            .all-posts-index {

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: 2.5%;

                .all-post-blog {
                    background-color: #f6fef2;
                    box-shadow: 5px 10px 10px 2px rgba(2, 101, 19, 0.154);

                    border-radius: 10px;
                    height: 425px;
                    width: 250px;
                    margin-bottom: 2.5%;
    
                    a {
                        text-decoration: none;
                        color: #162D06;
                    }

                    .post-textbox {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        text-align: center;

                        margin-top: 10px;
                        height: 140px;
                        margin-left: 5px;
                        margin-right: 5px;
                    }

                    .published {
                        opacity: 75%;
                        font-size: 13px;
                    }
    
                    img {
                        width: 250px;
                        height: 280px;
                        object-fit: cover;
                        border-radius: 10px 10px 0px 0px;
                    }

                    h2 {
                        font-size: 16px;
                    }
                }
                .all-post-blog:hover {
                    background-color: white;
                    transition: 0.45s;

                    .post-textbox {
                        margin-top: -5px;
                        height: 50px;
                    }
    
                    img {
                        height: 325px;
                        transition: 0.35s;
                    }

                    h2 {
                        font-size: 17px;
                    }

                    .published {
                        display: none;
                    }
                }
            }
        }

    }

}
