body {
    background-color: #F2FFEA;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    color: #162D06;
}

body::before, body::after {
    content: '';
    display: table;
    clear: both;
}

.welcome-logo {

    background-color: #E4F4D9;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .welcome-background {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        position: absolute;
        left: -8px;
        right: -8px;

        .background-photo {

            position: relative;
            height: 100vh;
            min-width: 100%;

            img {
                min-width: 100%;
                height: 100vh;
                object-fit: cover;
            }
        }
    }

    .framed-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;

        background-color: #F2FFEA;
        border-radius: 25px;

        .logo-inside-frame {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 850px;
            height: 500px;
            border-radius: 10px;
    
            img {
                width: 450px;
                height: 250px;
                object-fit: contain;
            }

            h2 {
                font-size: 30px;
                margin-bottom: -5px;
            }

            h1 {
                margin-top: -5px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-size: 40px;
                color: #F39994;

                text-shadow:
                -1px -1px 0 #162D06,
                1px -1px 0 #162D06,
                -1px 1px 0 #162D06,
                1px 1px 0 #162D06;

                img {
                    width: 200px;
                    height: 75px;
                }
            }
        }
    }

}

.main-content {

    z-index: 2;
    box-shadow: 10px 1px 50px 5px rgba(2, 101, 19, 0.154);

    background-color: #F2FFEA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .un-scroll-content {

        overflow-x: hidden;
        overflow-y: hidden;
    
        height: 100vh;
        position: sticky;
        display: flex;
        flex-direction: column;
        top: 0;
        right: 0;
        left: 100%;
        min-width: 300px;
        margin-right: 0px;
        background-color: #d5eac7;
    
        .right-s-content {
    
            height: 100vh;
            position: sticky;
            display: flex;
            flex-direction: column;
            top: 0;
    
            .right-s-background {
                background-image: linear-gradient(to bottom, rgba(228, 244, 217, 0.65), rgba(228, 244, 217, 0.65)),url(/MEDIA/background/backgroundleafes.png);
                background-size: 40%;
                padding-bottom: 70px;
                width: 300px;
                height: 100%;
    
                .right-s-box {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 0px;
    
                    .right-s-text {
                        margin-top: 125px;
                        background-color: #F2FFEA;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border-radius: 10px;
                        width: 250px;
    
                        img {
                            width: 129px;
                            height: 163px;
                            object-fit: contain;
                            background-color: white;
                            border-radius: 99px;
                        }
    
                        p {
                            margin-bottom: 0px;
                            margin-top: 10px;
                            margin-left: 10px;
                            margin-right: 10px;
                            font-size: 14px;
                        }
    
                        .right-s-info {
                            width: 100%;
                            padding-bottom: 25px;
                            margin-top: 25px;
    
                            span {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }

    .scroll-content {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;
        margin-left: 7%;
        margin-right: 3.5%;
        margin-bottom: 150px;

        .newly-posted-container {

            color: #162D06;
            margin-top: 75px;

            h2 {
                font-size: 55px;
                text-align: center;

                span {
                    color: #F39994;
                    text-shadow:
                    -1px -1px 0 #162D06,
                    1px -1px 0 #162D06,
                    -1px 1px 0 #162D06,
                    1px 1px 0 #162D06;
                }
            }

            .newly-posted-carousel {
                width: 1200px;
                overflow-x: scroll;
                margin-top: -50px;

                .newly-posted {

                    width: 100%;
                    height: 700px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 25px;
    
                    .new-post {

                        background-color: #f6fef2;
                        box-shadow: 5px 10px 10px 2px rgba(2, 101, 19, 0.154);

                        border-radius: 10px;
                        height: 600px;
                        width: 315px;

                        .blog-link {
                            text-decoration: none;
                            color: #162D06;
                        }

                        .post-textbox {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                            text-align: center;

                            margin-top: 10px;
                            height: 170px;
                            margin-left: 5px;
                            margin-right: 5px;
                        }
        
                        img {
                            width: 315px;
                            height: 420px;
                            object-fit: cover;
                            border-radius: 10px 10px 0px 0px;
                        }
    
                        h2 {
                            font-size: 20px;
                        }

                        .published {
                            opacity: 65%;
                        }
                    }

                    .new-post:hover {
                        background-color: white;
                        transition: 0.45s;

                        .post-textbox {
                            margin-top: 5px;
                            height: 150px;
                        }
        
                        img {
                            height: 475px;
                            transition: 0.35s;
                        }
    
                        h2 {
                            font-size: 22px;
                        }

                        .published {
                            display: none;
                        }
                    }
                }
            }
        }

        .all-posts-container {

            color: #162D06;
            margin-top: 130px;

            width: 1200px;

            h2 {
                font-size: 55px;
                text-align: center;
                
                span {
                    color: #F39994;
                    text-shadow:
                    -1px -1px 0 #162D06,
                    1px -1px 0 #162D06,
                    -1px 1px 0 #162D06,
                    1px 1px 0 #162D06;
                }
            }

            .all-posts-index {

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: 2.5%;

                .all-post-blog {
                    background-color: #f6fef2;
                    box-shadow: 5px 10px 10px 2px rgba(2, 101, 19, 0.154);

                    border-radius: 10px;
                    height: 425px;
                    width: 250px;
                    margin-bottom: 2.5%;
    
                    a {
                        text-decoration: none;
                        color: #162D06;
                    }

                    .post-textbox {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        text-align: center;

                        margin-top: 10px;
                        height: 140px;
                        margin-left: 5px;
                        margin-right: 5px;
                    }

                    .published {
                        opacity: 75%;
                        font-size: 13px;
                    }
    
                    img {
                        width: 250px;
                        height: 280px;
                        object-fit: cover;
                        border-radius: 10px 10px 0px 0px;
                    }

                    h2 {
                        font-size: 16px;
                    }
                }
                .all-post-blog:hover {
                    background-color: white;
                    transition: 0.45s;

                    .post-textbox {
                        margin-top: -5px;
                        height: 50px;
                    }
    
                    img {
                        height: 325px;
                        transition: 0.35s;
                    }

                    h2 {
                        font-size: 17px;
                    }

                    .published {
                        display: none;
                    }
                }
            }
        }

    }

}
