body {
    background-color: #F2FFEA;
    width: 100%;
    overflow-x: hidden;

    color: #162D06;
}

body::before, body::after {
    content: '';
    display: table;
    clear: both;
}

.welcome-logo {

    background-image: linear-gradient(to bottom, rgba(242, 255, 234, 0.75), rgba(242, 255, 234, 0.75)),url(/MEDIA/background/backgroundleafes.png);
    background-size: 22%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .welcome-background {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .framed-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .frame {
            position: absolute;
            width: 1000px;
            height: 685px;
        }

        .logo-inside-frame {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #F7FFF2;
            width: 875px;
            height: 575px;
            border-radius: 10px;
    
            img {
                width: 594px;
                height: 246px;
                object-fit: cover;
            }

            h2 {
                font-size: 30px;
            }
            h1 {
                font-size: 55px;
            }
        }
    }

}

.main-content {

    background-color: #F2FFEA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .un-scroll-content {

        overflow-x: hidden;
        overflow-y: hidden;
    
        height: 100vh;
        position: sticky;
        display: flex;
        flex-direction: column;
        top: 0;
        right: 0;
        left: 100%;
        min-width: 300px;
        margin-right: 0px;
        background-color: #d5eac7;
    
        .right-s-content {
    
            height: 100vh;
            position: sticky;
            display: flex;
            flex-direction: column;
            top: 0;
    
            .right-s-background {
                background-image: linear-gradient(to bottom, rgba(228, 244, 217, 0.65), rgba(228, 244, 217, 0.65)),url(/MEDIA/background/backgroundleafes.png);
                background-size: 40%;
                padding-bottom: 70px;
                width: 300px;
    
                .right-s-box {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 120px;
    
                    .right-s-text {
                        background-color: #F2FFEA;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border-radius: 10px;
                        width: 250px;
    
                        img {
                            width: 129px;
                            height: 163px;
                            object-fit: contain;
                            background-color: white;
                            border-radius: 99px;
                        }
    
                        p {
                            margin-bottom: 0px;
                            margin-top: 10px;
                            margin-left: 10px;
                            margin-right: 5px;
                            font-size: 15px;
                        }
    
                        .right-s-info {
                            width: 100%;
                            padding-bottom: 25px;
                            margin-top: 25px;
    
                            #lastPosted, #totalPosts {
                                font-weight: 400;
                            }
                            
                            span {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }

    .scroll-content {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .newly-posted-container {

            color: #162D06;
            margin-top: 130px;

            h2 {
                font-size: 55px;
            }

            .newly-posted {

                display: flex;
                flex-direction: row;

                .new-post {
                    background-color: pink;
                    border-radius: 10px;
                    height: 600px;
                    width: 315px;
    
                    .blog-link {
                        text-decoration: none;
                        color: #162D06;
                    }
    
                    img {
                        width: 315px;
                        height: 420px;
                        object-fit: cover;
                        border-radius: 10px 10px 0px 0px;
                    }

                    h2 {
                        font-size: 20px;
                    }
                }
            }
        }

    }

}


@media (max-width: 1000px) {

    .main-content {
    
        .un-scroll-content {
            min-width: 250px;
        
            .right-s-content {
        
                .right-s-background {
                    width: 250px;

                    .right-s-box {
        
                        .right-s-text {
                            width: 200px;
        
                            a {
                                text-decoration: none;
                                cursor: help;

                                img {
                                    cursor: help;
                                    width: 100px;
                                    height: 125px;
                                    object-fit: contain;
                                    background-color: white;
                                    border-radius: 99px;
                                }
                            }
        
                            p {
                                font-size: 13.7px;
                            }
    
                        }
                    }
                }
            }
        }
    
    }
}