body {
    background-color: #F2FFEA;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;

    color: #162D06;
}

body::before, body::after {
    content: '';
    display: table;
    clear: both;
}

::-webkit-scrollbar {
    background-color: #d5eac7;

    border-radius: 0px 99px 10px 0px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #162D06;

    border-radius: 99px;
}

.main-content {

    background-color: #F2FFEA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .un-scroll-content {

        position: sticky;

        overflow-x: hidden;
        overflow-y: hidden;
    
        height: 100vh;
        display: flex;
        flex-direction: column;
        top: 0;
        right: 0;
        left: 100%;
        min-width: 300px;
        width: 300px;
        margin-right: 0px;
        background-color: #d5eac7;

        font-family: "libre Bodoni", serif;
    
        .right-s-content {
    
            height: 100vh;
            position: sticky;
            display: flex;
            flex-direction: column;
            top: 0;
    
            .right-s-background {

                position: sticky;

                background-image: linear-gradient(to bottom, rgba(228, 244, 217, 0.65), rgba(228, 244, 217, 0.65)),url(/MEDIA/background/backgroundleafes.png);
                background-size: 40%;
                padding-bottom: 70px;
                width: 300px;
                height: 100vh;
    
                .right-s-box {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 120px;
    
                    .right-s-text {
                        background-color: #F2FFEA;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border-radius: 10px;
                        width: 250px;

                        font-family: "Libre Bodoni", serif;
                        font-weight: normal;

                        color: #162D06;

                        h2 {
                            text-align: center;
                            font-size: 22px;
                        }
    
                        img {
                            width: 129px;
                            height: 163px;
                            object-fit: contain;
                            background-color: white;
                            border-radius: 99px;
                        }

                        .admin-button {
                            padding: 10px;
                            border-radius: 99px;
                            margin-top: 25px;
                            text-decoration: none;
                            color: #162D06;
                            font-weight: bold;

                            width: 155px;
                        }

                        #create-button {
                            background-color: #9AE5B5;
                            font-size: 14px;
                            text-align: center;

                            &:hover {
                                transform: scale(1.2);
                                transition: 0.25s;
    
                                background-color: #a5eb77;
    
                                background-image: linear-gradient(to bottom, rgba(75, 106, 55, 0.65), rgba(75, 106, 55, 0.65)),url(/MEDIA/background/backgroundleafes.png);
                                background-size: 100%;
    
                                color: white;
                            }
                        }

                        #loggout-button {
                            background-color: #EE4444;
                            font-size: 14px;
                            text-align: center;

                            &:hover {
                                transform: scale(1.2);
                                transition: 0.25s;
                                font-weight: bolder;
    
                                background-color: #b42e2e;
    
                                background-image: linear-gradient(to bottom, rgba(238, 68, 68, 0.75), rgba(238, 68, 68, 0.75)),url(/MEDIA/background/backgroundleafes.png);
                                background-size: 125%;
    
                                color: white;
                            }
                        }
    
                        .right-s-info {
                            margin-left: 30px;
                            width: 100%;
                            padding-bottom: 25px;
                            margin-top: 210px;
    
                            span {
                                font-weight: bold;
                            }

                            #lastPosted, #totalPosts {
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }

    .scroll-content {

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        margin-left: 2.5%;
        margin-right: 2.5%;

        font-family: "Libre Bodoni", serif;

        .searchbar {
            margin-top: 75px;
    
            width: 355px;
            height: 27px;
    
            background-color: white;
            box-shadow: 5px 1px 15px 5px rgba(2, 101, 19, 0.154);
            border-radius: 25px;
            display: flex;
            flex-direction: row;
            align-items: center;
    
            input {
                border-radius: 25px;
                width: 350px;
                height: 25px;
                border: hidden;
                background-color: none;
    
            }
    
            #searchInput::placeholder {
                padding-left: 5px;
    
                font-family: "Libre Bodoni", serif;
                font-weight: normal;
            }
    
            #searchInput {
                height: 25px;
    
                font-family: "Libre Bodoni", serif;
                font-weight: normal;
            }
    
            i {
                margin-right: 5px;
                width: 30px;
                height: 25px;
    
                display: flex;
    
                justify-content: center;
                align-items: center;
            }
        }
    
        .all-blogs {

            margin-top: 75px;
            margin-bottom: 150px;
            margin-left: 7%;
            margin-right: 25px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            gap: 25px;

            font-family: "Libre Bodoni", serif;
            font-weight: normal;
    
            .blog-post {
                background-color: #F1F8F3;
                height: auto;
                
                width: calc((100% - 50px) / 2);
                max-width: 275px;

                border-radius: 10px;
                box-shadow: 2px 2px 7px 2px rgba(2, 57, 11, 0.306);
    
                img {
                    height: 300px;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 10px 10px 0px 0px;
                }
    
                .post-textbox {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    height: 180px;
                    margin-left: 5px;
                    margin-right: 5px;
    
                    .main-title {
                        font-weight: bold;
                        font-size: 19px;
                        display: flex;
                        width: 99%;

                        justify-content: center;
                        align-items: center;
                        text-align: center;
                    }
    
                    .published {
                        opacity: 75%;
                        font-size: 10px;
                    }
                }
            }
    
            .blog-post:hover {
                background-color: white;
                transition: 0.25s;
    
                img {
                    height: 375px;
                    transition: ease-in-out 0.25s;
                }
    
                .post-textbox {
                    transition: 0.25s;
                    height: 100px;
                    margin-top: 0px;
    
                    .title {
                        font-size: 23px;
                        margin-top: -1px;
                    }
    
                    .published {
                        display: none;
                    }
                }
            }
    

            .blog-post:hover {
                background-color: white;
                transition: 0.25s;
            
                img {
                    height: 400px;
                    transition: ease-in-out 0.25s;
                }
            
                .post-textbox {
                    transition: 0.25s;
            
                    height: 115px;
            
                    .title {
                        font-size: 22px;
                        margin-top: 0px;
                    }
            
                    .published {
                        display: none;
                    }
                }
            
                .title {
                    display: none;
                }
            }
            
            
            .blog-post:hover::after {
                content: "Edit Post";
                font-size: 25px;
                width: 100%;
                margin-top: -100px;
                font-weight: bolder;
            
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .blog-link {
                text-decoration: none;
                color: #162D06;
            }
        }
    }

}
