body {
    background-color: #F2FFEA;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: "Libre Bodoni", serif;

    color: #162D06;
}

::-webkit-scrollbar {
    background-color: #d5eac7;

    border-radius: 0px 99px 10px 0px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #162D06;

    border-radius: 99px;
}

body::before, body::after {
    content: '';
    display: table;
    clear: both;
}

.main-content {

    position: relative;

    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;

    background-color: #F2FFEA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-family: "Libre Bodoni", serif;

    .un-scroll-content {

        overflow-x: hidden;
        overflow-y: hidden;
        height: 100vh;
        position: sticky;

        z-index: 3;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        top: 0;
        right: 0;
        width: 250px;
        min-width: 250px;

        background-color: #d5eac7;
        transition: transform 0.5s ease;
    
        .right-s-content {
    
            width: 100%;
            height: 100vh;
            position: sticky;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .right-s-background {
                background-image: linear-gradient(to bottom, rgba(228, 244, 217, 0.65), rgba(228, 244, 217, 0.65)),url(/MEDIA/background/backgroundleafes.png);
                background-size: 40%;
                padding-bottom: 70px;
                width: 100%;
                height: 100%;

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .gobackbutton {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    width: 250px;

                    margin-top: 90px;
    
                    a {
                        padding: 7px;
                        padding-right: 10px; 
                        padding-left: 10px;
                        background-color: #F39994;
                        border-radius: 25px;
    
                        color: #162D06;
                        text-decoration: none;
                        font-weight: bold;
    
                        font-size: 14px;
                        font-family: "Libre Bodoni", serif;
    
                        i {
                            display: none;
                            margin-right: 7px;
                            font-size: 13px;
                        }
                    }
    
                    &:hover {
                        a {
                            transform: scale(1.2);
                            transition: 0.25s;
    
                            background-color: #a5eb77;
    
                            background-image: linear-gradient(to bottom, rgba(75, 106, 55, 0.65), rgba(75, 106, 55, 0.65)),url(/MEDIA/background/backgroundleafes.png);
                            background-size: 200%;
    
                            color: white;
                        } 
    
                        i {
                            display: inline;
                        }
                    }
                }
    
                .right-s-box {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 40px;
    
                    .right-s-text {
                        background-color: #F2FFEA;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        border-radius: 10px;
                        width: 225px;

                        font-family: "Libre Bodoni", serif;
                        font-weight: normal;

                        color: #162D06;

                        h2 {
                            font-size: 22px;
                        }

                        img {
                            width: 129px;
                            height: 163px;
                            object-fit: contain;
                            background-color: white;
                            border-radius: 99px;
                        }
    
                        p {
                            margin-bottom: 0px;
                            margin-top: 10px;
                            margin-left: 10px;
                            margin-right: 10px;
                            font-size: 13px;
                        }
    
                        .right-s-info {
                            width: 100%;
                            padding-bottom: 25px;
                            margin-top: 210px;
    
                            span {
                                font-weight: bold;
                            }
                        }

                        .blog-post-buttons {

                            display: flex;
                            flex-direction: column;
                            gap: 15px;
                            margin-top: 25px;
                            width: 150px;

                            .save-button {
                                background-color: #9AE5B5;
                                border-radius: 99px;
                                border: none;

                                height: 35px;
                                font-size: 15px;

                                cursor: pointer;

                                font-weight: bold;
                                font-family: "Libre Bodoni", serif;

                                font-size: 14px;
                                text-align: center;
        
                                &:hover {
                                    transform: scale(1.1);
                                    transition: 0.25s;
        
                                    background-color: #a5eb77;
        
                                    background-image: linear-gradient(to bottom, rgba(75, 106, 55, 0.65), rgba(75, 106, 55, 0.65)),url(/MEDIA/background/backgroundleafes.png);
                                    background-size: 100%;
        
                                    color: white;
                                }
                            }
                            
                            .delete-button {
                                background-color: #EE4444;
                                border-radius: 99px;
                                border: none;

                                height: 35px;

                                cursor: pointer;

                                font-weight: bold;
                                font-family: "Libre Bodoni", serif;

                                font-size: 14px;
                                text-align: center;
        
                                &:hover {
                                    transform: scale(1.1);
                                    transition: 0.25s;
                                    font-weight: bolder;
        
                                    background-color: #b42e2e;
        
                                    background-image: linear-gradient(to bottom, rgba(238, 68, 68, 0.75), rgba(238, 68, 68, 0.75)),url(/MEDIA/background/backgroundleafes.png);
                                    background-size: 125%;
        
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .toggle-icon {
        position: fixed;
        right: 0;

        top: 50%;
        transform: translateY(-50%);

        background-color: #d5eac7;
        color: #162D06;
        border-radius: 35% 0% 0% 35%;
        cursor: pointer;

        height: 50px;
        padding-right: 7px;
        padding-left: 10px;
        margin-top: 25px;

        display: none;
        z-index: 2;
        font-size: 20px;

        &:hover {
            transition: 0.2s ease;

            padding-right: 12px;
            background-color: #F39994;
        }
    }

    .un-scroll-content-active {
        transform: translateX(0);
        z-index: 3;
    }

    .scroll-content {

        z-index: 2;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;

        top: 0;
        right: 0;

        margin-bottom: 150px;
        transition: width 0.5s ease;

        h1 {
            margin-bottom: 500000px;
            position: absolute;
        }

        .admin-blog-detail {
            position: relative;
            width: 100%;
            margin-bottom: 100px;

            .title-container, .body-container, .tags-container {

                h3 {
                    margin-left: 9%;
                    margin-right: 3.5%;

                    font-size: clamp(20px, 2vw, 30px);                       
                    font-family: "Libre Bodoni", serif;                    
                }

                input {
                    margin-left: 9%;
                    margin-right: 3.5%;

                    width: 100%;
                    border-radius: 25px;
                    border: solid 1px #162D06;

                    padding: 5px;
                    font-family: "Libre Bodoni", serif;

                    font-size: clamp(10px, 2vw, 15px); 
                }
            }

            .title-container input, .tags-container input {
                width: 65%;
                min-width: 450px;
            }

            .media-container {

                width: 100%;
                min-width: 100%;

                margin: 0px;
                padding: 0px;

                h3 {
                    margin-left: 9%;
                    margin-right: 3.5%;

                    font-size: clamp(15px, 2vw, 25px);                       
                    font-family: "Libre Bodoni", serif;
                }

                input {
                    margin-left: 9%;
                    margin-right: 3.5%;
                    width: 65%;
                    min-width: 450px;

                    border-radius: 25px;
                    border: solid 1px #162D06;

                    padding: 5px;
                    font-family: "Libre Bodoni", serif;
                    font-size: clamp(10px, 2vw, 15px); 
                }

                .image-preview {
                    width: 100%;
                    min-width: 100%;

                    margin: 0px;
                    padding: 0px;

                    height: 645px;
                    transition: transform 0.4s ease;
                }
    
                img {
                    transition: transform 0.4s ease-in-out;
                    width: 100%;
                    min-width: 100%;
                    height: 645px;
                    object-fit: cover;
                }
            }

            .title-container {
                margin-bottom: 50px;
                margin-top: 50px;
            }

            .body-container {
                margin-bottom: 50px;

                .edit-textarea {

                    margin-left: 9%;
                    margin-right: 3.5%;

                    height: 450px;
                    padding-bottom: 35px;
                    padding-top: 15px;
                    width: 85%;
                    min-width: 450px;

                    border-radius: 15px 5px 5px 15px;
                    border: solid 1px #162D06;

                    font-size: clamp(10px, 2vw, 15px); 

                }

                textarea {
                    padding-left: 10px;
                    padding-top: 10px;
                }
            }
        }
    }
}



@media (max-width: 1300px){
    .main-content {
    
        .un-scroll-content {
    
            width: 205px;
            min-width: 205px;

            .right-s-content {
        
                .right-s-background {
        
                    .right-s-box {
                        width: 195px;
        
                        .right-s-text {
                            width: 180px;
    
                            h2 {
                                font-size: 20px;
                            }
    
                            img {
                                width: 102px;
                                height: 130px;
                            }
        
                            p {
                                margin-left: 5px;
                                margin-right: 5px;
                                font-size: 13px;
                            }

                            .blog-post-buttons {

                                width: 120px;
    
                                .save-button {

                                    font-size: 12px;
                                    width: 120px;
                                }
                                
                                .delete-button {

                                    width: 120px;
                                    font-size: 12px;
                                }
                            }

                        }
                    }
                }
            }
        }
    
    }
}

@media (max-width: 1100px){

    .main-content {
        
        .un-scroll-content {
            transform: translateX(100%); 
            transition: transform 0.3s ease-in-out;

            width: 205px;
            min-width: 205px;

            z-index: 998;

            margin-top: 0px;

        }

        .un-scroll-content-active {
            transform: translateX(0%); 
            transition: transform 0.4s ease;
            width: 205px;
        }

        .toggle-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            right: 0px;

            transition: right 0.1s ease;
        }
    
        .scroll-content {

            max-width: 1100px;
            width: 100%;

            .admin-blog-detail {

                .media-container {
    
                    .image-preview {
                        transition: transform 0.4s ease-in-out;
                        width: 140%;
                    }
                }

            }

        }
    
    }
}